<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../auth/register.css">
</head>
<body>
    <form onsubmit="event.preventDefault(); register()">
        <h1 class="create">Create Account</h1>
        <p class="join">Join us for exclusive & booking</p>
        <label for="full_name">Full Name</label>
        <br>
        <input type="text" placeholder="Enter Your Full Name" id="name">
        <br>
        <label for="email">Email Address</label>
        <br>
        <input type="email" placeholder="Enter Your Email" id="email">
        <br>
        <label for="password">Passowrd</label>
        <br>
        <input type="password" placeholder="Enter Your Password" id="password">
        <br>
        <label for="confirm_password">Confirm Passowrd</label>
        <br>
        <input type="password" placeholder="Repeat Password" id="confirm_password">
        <br>
        <div class="ckeckBox">
            <input type="checkbox">
            <p>I agree to t he <span>Trem & Condition</span></p>
        </div>
        <br>
        <button type="submit">REGISTER NOW</button>
        <div class="login">
            <p>Alreadyv Have a account?</p>
            <a href="./login.html">Log in</a>
        </div>
    </form>
</body>
<script src="./register.js"></script>
</html>